.parallax{
    background: url('../../assets/bg.png');
    background-size: cover;
    height: 100vh;
}
::ng-deep .mat-figure{
    flex-direction: column;
}
::ng-deep .mat-flat-button{
    margin: 5px !important;
}
/* .figure-container{
    padding: 0 20px;
} */
.title, .description{
    color: white;
    padding: 5px;
}
.img{
    height: 100vh;
}