<div class='container-fluid'>
    <div class="row">
        <div class="col">
            <img src='https://source.unsplash.com/u_7dFGYIg50' />
            <img src='https://source.unsplash.com/PjODX5hruGQ' />
            <img src='https://source.unsplash.com/oTweoxMKdkA' />
            <img src='https://source.unsplash.com/P7EFJs577Xg' />
        </div>
        <div class="col">
            <img src='https://source.unsplash.com/1pAwJiCD60c' />
            <img src='https://source.unsplash.com/mEZ3PoFGs_k' />
            <img src='https://source.unsplash.com/IeAX5I9zff0' />
            <img src='https://source.unsplash.com/5OyGRn_r9Y4' />
        </div>
        <div class="col">
            <img src='https://source.unsplash.com/QDq3YliZg48' />
            <img src='https://source.unsplash.com/G1N9kDHqBrQ' />
            <img src='https://source.unsplash.com/eD3FQzsxjC8' />
            <img src='https://source.unsplash.com/MxVkWPiJALs' />
        </div>
        <div class="col">
            <img src='https://source.unsplash.com/tXz6g8JYYoI' />
            <img src='https://source.unsplash.com/3fl4xRSOD6k' />
            <img src='https://source.unsplash.com/xfYiIpHnvhs' />
            <img src='https://source.unsplash.com/xM8dyR4jnNo' />
        </div>
    </div>
    <div class="row">
        <div class="header">
            <h1 class='title'>Persona</h1>
            <p>The word 'personality' comes from the Latin word persona. In the ancient world, a persona was a mask worn by an actor. While we tend to think of a mask as being worn to conceal one's identity, the theatrical mask was originally used to either represent or project a specific personality trait of a character</p>
            <p>This web application aims to help people discover their own mask/personality through assessment. Take our Personality Test and get a description of who you are and why you do things the way you do.</p>
            <a mat-flat-button color="accent" href="/assess">Try it now!</a>
        </div>
    </div>
</div>