<div class='container-fluid'>
    <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile>
            <img src='https://source.unsplash.com/V5Owjg-ZNto' />
        </mat-grid-tile>
        <mat-grid-tile>
            <div class='div'>
                <h1 class='title'>Persona</h1>
                <p class='description'>Persona is a personality test web application that offers varieties of quizzes to evaluate your personality.</p>
                <p class='description'>Take our Personality Test and get a description of who you are and why you do things the way you do.</p>
                <a mat-flat-button color="accent" href="/assess">Try it now!</a>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>