<div class='parallax'>
    <mat-grid-list cols="2" rowHeight="1:1">
        <mat-grid-tile>
            <div class='figure-container'>
                <div class='title'>Persona</div>
                <div class='description'>Persona is a personality test web application that offers varieties of quizzes to evaluate your own personality.</div>
                <button mat-flat-button color="accent">Try it now!</button>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>2</mat-grid-tile>
      </mat-grid-list>
</div>